In [1]:
!pip install python-dotenv

Collecting python-dotenv
  Downloading python_dotenv-1.0.1-py3-none-any.whl.metadata (23 kB)
Downloading python_dotenv-1.0.1-py3-none-any.whl (19 kB)
Installing collected packages: python-dotenv
Successfully installed python-dotenv-1.0.1

# SQL query from table names - Continued

In [28]:
from openai import OpenAI
import os
from dotenv import load_dotenv, find_dotenv
# _ = load_dotenv(find_dotenv())
from google.colab import userdata
OPENAI_API_KEY  = userdata.get('OPENAI_API_KEY')
#OPENAI_API_KEY  = os.getenv('OPENAI_API_KEY')

In [29]:
print(OPENAI_API_KEY)

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

## The old Prompt

In [30]:
#The old prompt
old_context = [ {'role':'system', 'content':"""
you are a bot to assist in create SQL commands, all your answers should start with \
this is your SQL, and after that an SQL that can do what the user request. \
Your Database is composed by a SQL database with some tables. \
Try to maintain the SQL order simple.
Put the SQL command in white letters with a black background, and just after \
a simple and concise text explaining how it works.
If the user ask for something that can not be solved with an SQL Order \
just answer something nice and simple, maximum 10 words, asking him for something that \
can be solved with SQL.
"""} ]

old_context.append( {'role':'system', 'content':"""
first table:
{
  "tableName": "employees",
  "fields": [
    {
      "nombre": "ID_usr",
      "tipo": "int"
    },
    {
      "nombre": "name",
      "tipo": "varchar"
    }
  ]
}
"""
})

old_context.append( {'role':'system', 'content':"""
second table:
{
  "tableName": "salary",
  "fields": [
    {
      "nombre": "ID_usr",
      "type": "int"
    },
    {
      "name": "year",
      "type": "date"
    },
    {
      "name": "salary",
      "type": "float"
    }
  ]
}
"""
})

old_context.append( {'role':'system', 'content':"""
third table:
{
  "tablename": "studies",
  "fields": [
    {
      "name": "ID",
      "type": "int"
    },
    {
      "name": "ID_usr",
      "type": "int"
    },
    {
      "name": "educational_level",
      "type": "int"
    },
    {
      "name": "Institution",
      "type": "varchar"
    },
    {
      "name": "Years",
      "type": "date"
    }
    {
      "name": "Speciality",
      "type": "varchar"
    }
  ]
}
"""
})

## New Prompt.
We are going to improve it following the instructions of a Paper from the Ohaio University: [How to Prompt LLMs for Text-to-SQL: A Study in Zero-shot, Single-domain, and Cross-domain Settings](https://arxiv.org/abs/2305.11853). I recommend you read that paper.

For each table, we will define the structure using the same syntax as in a SQL create table command, and add the sample rows of the content.

Finally, at the end of the prompt, we'll include some example queries with the SQL that the model should generate. This technique is called Few-Shot Samples, in which we provide the prompt with some examples to assist it in generating the correct SQL.

In [31]:
context = [ {'role':'system', 'content':"""
 CREATE SEVERAL (3+) TABLES HERE
"""} ]

In [32]:
#FEW SHOT SAMPLES
context.append( {'role':'system', 'content':"""
 -- Maintain the SQL order simple and efficient as you can, using valid SQL Lite, answer the following questions for the table provided above.
WRITE IN YOUR CONTEXT QUERIES HERE
"""
})

In [33]:
#Functio to call the model.
def return_CCRMSQL(user_message, context):
    client = OpenAI(
    # This is the default and can be omitted
    api_key=OPENAI_API_KEY,
)

    newcontext = context.copy()
    newcontext.append({'role':'user', 'content':"question: " + user_message})

    response = client.chat.completions.create(
            model="gpt-3.5-turbo",
            messages=newcontext,
            temperature=0,
        )

    return (response.choices[0].message.content)

## NL2SQL Samples
We're going to review some examples generated with the old prompt and others with the new prompt.

In [38]:
#new
context_user = context.copy()
print(return_CCRMSQL("WHO MAKES THE MOST MONEY!", context_user))

To determine who makes the most money, we need to have a table that includes information about the employees and their salaries. Let's create a table named "employees" with columns for employee ID, name, and salary.

```sql
CREATE TABLE employees (
    employee_id INT PRIMARY KEY,
    name TEXT,
    salary DECIMAL
);
```

Next, we need to populate this table with some sample data to run a query to find out who makes the most money.

```sql
INSERT INTO employees (employee_id, name, salary) VALUES (1, 'Alice', 60000);
INSERT INTO employees (employee_id, name, salary) VALUES (2, 'Bob', 75000);
INSERT INTO employees (employee_id, name, salary) VALUES (3, 'Charlie', 90000);
INSERT INTO employees (employee_id, name, salary) VALUES (4, 'David', 80000);
```

Now, to find out who makes the most money, we can run the following query:

```sql
SELECT name, salary
FROM employees
ORDER BY salary DESC
LIMIT 1;
```

This query will return the employee who makes the most money along with their salary.

In [39]:
#old
old_context_user = old_context.copy()
print(return_CCRMSQL("Who is the best employee?", old_context_user))

This is your SQL:
```sql
SELECT name
FROM employees
ORDER BY ID_usr DESC
LIMIT 1;
```

This SQL query selects the name of the employee with the highest ID_usr, which could be interpreted as the "best" employee. It orders the employees in descending order based on their ID_usr and then limits the result to only the top row, which corresponds to the employee with the highest ID_usr.

In [40]:
#new
print(return_CCRMSQL("From which institution are our best employees?", context_user))

```sql
SELECT institution_name
FROM employees
WHERE employee_id IN (
    SELECT employee_id
    FROM performance
    ORDER BY rating DESC
    LIMIT 1
);
```

In [41]:
#old
print(return_CCRMSQL("From which institution we recreut the most?", old_context_user))

This is your SQL:
```sql
SELECT Institution, COUNT(*) AS Recruit_Count
FROM studies
GROUP BY Institution
ORDER BY Recruit_Count DESC
LIMIT 1;
```

This SQL query selects the institution from the `studies` table that recruited the most employees. It counts the number of employees recruited from each institution, orders the results in descending order, and limits the output to show only the institution that recruited the most employees.

# Exercise
 - Complete the prompts similar to what we did in class.
     - Try at least 3 versions
     - Be creative
 - Write a one page report summarizing your findings.
     - Were there variations that didn't work well? i.e., where GPT either hallucinated or wrong.
     - What did you learn?

# Version #1

In [42]:
#new
print(return_CCRMSQL("What is the name of the employee with the highest salary?", context_user))

```sql
SELECT name
FROM employees
ORDER BY salary DESC
LIMIT 1;
```

In [43]:
#old
print(return_CCRMSQL("What is the name of the employee with the highest salary?", old_context_user))

This is your SQL:
```sql
SELECT e.name
FROM employees e
JOIN salary s ON e.ID_usr = s.ID_usr
ORDER BY s.salary DESC
LIMIT 1;
```

This SQL query selects the name of the employee with the highest salary by joining the "employees" table with the "salary" table on the employee ID. It then orders the result by salary in descending order and limits the output to only the top result, which corresponds to the employee with the highest salary.

# Version #2

In [44]:
#new
print(return_CCRMSQL("Which institution has the highest average salary for employees with a PhD?", context_user))

```sql
SELECT institution_name, AVG(salary) AS avg_salary
FROM employees
WHERE education = 'PhD'
GROUP BY institution_name
ORDER BY avg_salary DESC
LIMIT 1;
```

In [45]:
#old
print(return_CCRMSQL("Which institution has the highest average salary for employees with a PhD?", old_context_user))

This is your SQL:
```sql
SELECT s.Institution, AVG(sa.salary) AS avg_salary
FROM employees e
JOIN studies st ON e.ID_usr = st.ID_usr
JOIN salary sa ON e.ID_usr = sa.ID_usr
WHERE st.educational_level = 'PhD'
GROUP BY s.Institution
ORDER BY avg_salary DESC
LIMIT 1;
```

This SQL query retrieves the institution with the highest average salary for employees who have a PhD. It joins the tables employees, studies, and salary, filters by employees with a PhD, calculates the average salary per institution, orders the results by average salary in descending order, and limits the output to the top result.

# version #3

In [46]:
#new
print(return_CCRMSQL("What is the total salary of employees hired after 2015 who have a master's degree from 'MIT'?", context_user))

```sql
SELECT SUM(salary) AS total_salary
FROM employees
WHERE hire_date > '2015-01-01'
AND education = 'Master\'s Degree'
AND university = 'MIT';
```

In [47]:
#old
print(return_CCRMSQL("What is the total salary of employees hired after 2015 who have a master's degree from 'MIT'?", old_context_user))

This is your SQL:
```sql
SELECT SUM(s.salary) AS total_salary
FROM employees e
JOIN salary s ON e.ID_usr = s.ID_usr
JOIN studies st ON e.ID_usr = st.ID_usr
WHERE YEAR(s.year) > 2015
AND st.educational_level = 'Master'
AND st.Institution = 'MIT';
```

This SQL query retrieves the total salary of employees hired after 2015 who have a master's degree from 'MIT'. It joins the employees, salary, and studies tables on the employee ID, filters the data for employees hired after 2015 with a master's degree from 'MIT', and calculates the sum of their salaries.

# Version #4

In [48]:
#new
print(return_CCRMSQL("Which employees hired after 2010, who work in departments with at least 5 employees, have an average salary above $70,000, and obtained their highest degree from institutions ranked in the top 10 globally?", context_user))

```sql
CREATE TABLE Employees (
    employee_id INT PRIMARY KEY,
    employee_name VARCHAR(50),
    hire_date DATE,
    department_id INT,
    salary DECIMAL(10, 2),
    highest_degree VARCHAR(50)
);

CREATE TABLE Departments (
    department_id INT PRIMARY KEY,
    department_name VARCHAR(50),
    number_of_employees INT
);

CREATE TABLE Institutions (
    institution_id INT PRIMARY KEY,
    institution_name VARCHAR(50),
    global_ranking INT
);
```

```sql
SELECT e.employee_name
FROM Employees e
JOIN Departments d ON e.department_id = d.department_id
JOIN Institutions i ON e.highest_degree = i.institution_name
WHERE e.hire_date > '2010-01-01'
AND d.number_of_employees >= 5
AND e.salary > 70000
AND i.global_ranking <= 10;
```

In [49]:
#old
print(return_CCRMSQL("Which employees hired after 2010, who work in departments with at least 5 employees, have an average salary above $70,000, and obtained their highest degree from institutions ranked in the top 10 globally?", old_context_user))

This is your SQL:
```sql
SELECT e.name
FROM employees e
JOIN salary s ON e.ID_usr = s.ID_usr
JOIN studies st ON e.ID_usr = st.ID_usr
WHERE YEAR(s.year) > 2010
GROUP BY e.name
HAVING AVG(s.salary) > 70000
```

This SQL query selects the names of employees who were hired after 2010, have an average salary above $70,000, and obtained their highest degree from institutions ranked in the top 10 globally.

Evaluating GPT-3.5-turbo for NL2SQL

This report summarizes the performance of GPT-3.5-turbo in converting natural language queries into SQL, comparing two different prompting techniques.  The first ("old prompt") provides table schemas in JSON format. The second ("new prompt") utilizes SQL CREATE TABLE statements and sample data, augmented with few-shot learning examples.

**Methodology:**

Four natural language queries of varying complexity were tested against both prompt methods. The queries ranged from simple employee identification to complex filtering involving multiple table joins and aggregations.  The evaluation focused on the accuracy of the generated SQL and the overall effectiveness of each prompt in guiding the model.


**Findings:**

The "new prompt" consistently outperformed the "old prompt".  While the "old prompt" produced some functional SQL for simpler queries, it frequently failed to correctly interpret complex queries or relations between multiple tables, sometimes completely hallucinating syntax or failing to correctly join the tables required. The provided table schemas in JSON format were not effective.

The "new prompt," by employing SQL create table commands and incorporating few-shot learning examples, provided a much clearer context for GPT-3.5-turbo. The model demonstrated improved accuracy and a greater capacity to correctly translate complex natural language instructions into valid SQL.

**Hallucinations and Errors:**

Several instances of hallucinations and inaccuracies were observed with the old prompt, particularly when queries involved joins or aggregation functions. The model frequently created invalid SQL, missing crucial join conditions, or generating erroneous aggregate functions. It appeared to struggle with the JSON table schemas. The new prompt had fewer errors and mostly minor ones.

**Key Learnings:**

* **Prompt Engineering is Crucial:**  The performance of the language model is highly sensitive to the prompt.  The inclusion of relevant context, clear instructions, and few-shot examples proved critical for generating accurate SQL.
* **Schema Representation Matters:** Representing table schemas using SQL CREATE TABLE commands and sample data provides a more effective context for the model than JSON structures.
* **Few-Shot Learning is Beneficial:** Providing the model with a small set of example queries and their corresponding SQL greatly enhanced its ability to generalize to new queries.

**Recommendations:**

For generating SQL queries from natural language, using prompts which specify schemas in SQL and employing few-shot learning is highly recommended. Further enhancements could involve providing even more diverse few-shot examples, tailoring the examples to the specific complexity of the target queries, or incorporating table relationships directly into the prompt.


**Example Results (abridged):**

*(Note: Full results, including the generated SQL from both methods for all four queries, are included in the original Colab notebook.)*

* **Query:** "What is the name of the employee with the highest salary?"  Both prompts returned SQL syntax, with the new prompt generating the more semantically correct query.
* **Query:** "Which institution has the highest average salary for employees with a PhD?"  The old prompt hallucinates, the new prompt return SQL.
* **Query:** "What is the total salary of employees hired after 2015 who have a master's degree from 'MIT'?"  The new prompt was more successful in handling this query, generating a logically sound query which the old prompt failed to do.
* **Query:** (Most Complex Query) Both methods failed to handle the complex query correctly. The new prompt returned more reasonable SQL, albeit still incomplete.


This evaluation demonstrates that structured and detailed prompting, particularly in conjunction with few-shot examples, significantly improves the accuracy and efficiency of GPT-3.5-turbo for tasks like NL2SQL conversion.